%section#about
	.about-container
		.text-about
			.reservation-box
				= form_tag({controller: "reservations", action: "new"}, method: "get") do
					.row
						.col-lg-4.col-md-4.col-sm-4.col-xs-6{style: "margin: 0; padding: 0;"}
							.input-about
								%i.fa.fa-calendar
								= text_field_tag :checkin, nil, :placeholder => "Check-in", class: "datepicker"
						.col-lg-4.col-md-4.col-sm-4.col-xs-6{style: "margin: 0; padding: 0;"}
							.input-about
								%i.fa.fa-calendar
								= text_field_tag :checkout, nil, :placeholder => "Check-out", class: "datepicker"
						.col-lg-4.col-md-4.col-sm-4.col-xs-12
							%button.btn-reservation
								RESERVAR

			#title-about
				¡RESPIRA EL MAR!

			.row#content-about
				.col-lg-6.col-md-6.col-sm-6.col-xs-12
					Nuestra ubicación privilegiada a orillas del mar te ofrecen la oportunidad de desconectar el estrés y vivir de cerca la frescura del mar. Ubicados en Villa Marina, playa por excelencia preferida por los turistas que visitan la Península de Paraguaná.
				.col-lg-6.col-md-6.col-sm-6.col-xs-12
					Ven y vive la experiencia de vivir y respirar el mar de cerca, con la mejor atención, excelentes instalaciones para tus eventos, habitaciones con todas las comodidades, gastronomía en nuestro RESTAURANTE y sobre la mejor atención.

			.info
				.info-hours
					.check-in
						CHECK IN
						%span 01:00 PM
					.check-out
						CHECK OUT
						%span 12:00 PM

#events
	.event-horizontal
		.event-vertical
			.container
				.cont-eventos
					.title-events
						VIVE TUS EVENTOS
						%br
						%span A ORILLAS DEL MAR
					.content-events
						Ofrecemos un salón interno para
						%span 60 personas
						y un área privada a la orilla del mar para
						%span 120 personas,
						adaptada a tus necesidades desde un evento corporativo hasta un evento social.
					.info-event
						= link_to new_event_path do
							PLANIFICA TU EVENTO


