%section#contacts
	.separator
		.separator-map
			.title-separator
				¡ENCUENTRANOS!
			.txt-separator
				Calle Monagas, Sector La Puntica, Villa Marina. Estado Falcón.

	#map

	.cont-contacts
		.separator
			.separator-contacts
				.tittle-separator
					¡CONTÁCTANOS!
		.row#contact
			.col-lg-4.col-md-4.hidden-sm.hidden-xs{style: "padding: 0;"}
				= image_tag 'frontend/Logo_VillaMarina.png', id: "logo-footer"
			.col-lg-4.col-md-4.col-sm-6.col-xs-12.icons{style: "padding: 0;"}
				.col-lg-3.col-md-3.col-sm-3.col-xs-3
					= link_to "http://www.instagram.com/posadavillamarina" do
						%i.fa.fa-instagram.socials#instagram
				.col-lg-3.col-md-3.col-sm-3.col-xs-3
					= link_to "http://www.twitter.com/posadavmbr" do
						%i.fa.fa-twitter.socials#twitter
				.col-lg-3.col-md-3.col-sm-3.col-xs-3
					= link_to "http://www.facebook.com/posadavillamarina" do
						%i.fa.fa-facebook.socials#facebook
				.col-lg-3.col-md-3.col-sm-3.col-xs-3
					= link_to "" do
						= image_tag "frontend/Icono_TripAdvisor.png", class: "socials", id: "tripadvisor"

				reservas@posadavillamarina.com
			.col-lg-4.col-md-4.col-sm-6.col-xs-12.numbers
				Números de Contactos
				%br
				0412
				%span 123-77-66
				%br
				0424
				%span 695-55-31
				%br
				0412
				%span 174-84-45
