%section.front#home
	.front-container
		.front-logo-horizontal
			.front-logo-vertical
				
				- if flash[:notice]
					.container
						.alert.alert-success 
							%center{"data-dismiss"=>"alert", "aria-hidden"=>"true"}
								= "<strong>#{flash[:notice]}</strong>".html_safe
								%br Pronto nos estaremos comunicando contigo vía e-mail.

				= image_tag 'frontend/Logo_VillaMarina.png', id: "logo"
				.text-home
					#txt-home
						TU PUNTO VACACIONAL EN 
						%br
						PARAGUANA POR EXCELENCIA

