#Modal
	%center
	.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-#{room.id}"}
		.background-modal
			.modal-dialog.modal-lg
				.modal-content
					
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					.clearfix

					.gallery-modal{id: "gallery-#{room.id}"}
						- room.images.each do |image|
							.img-gallery
								= image_tag image.img 

					.info
						.modal-title
							= room.name.upcase
						.modal-description
							= room.description
						%hr
						%span PRECIO POR NOCHE
						%br/
						Bs
						= room.price
						%br/
						= link_to new_reserva_path do
							RESERVAR	

:javascript
	$("#modal-#{room.id}").on('shown.bs.modal', function (e) {
	  $('#gallery-#{room.id}').slick({
			infinite: true,
			arrows: true,
			autoplay: true,
			autoplaySpeed: 2000,
		});
	})