%section#rooms
	.separator
		.separator-rooms
			CONOCE NUESTRAS CONFORTABLES HABITACIONES
	.gallery
		.container{style: "width: 100%;"}
			.row
				- @rooms.each_with_index do |room, x|
					.col-lg-6.col-md-6.col-sm-6.col-xs-12.col-room{id: "col-room-#{x+1}", style: "background-image: url(#{room.images.first.img});"}
						.mask-rooms{id: "room-#{x+1}"}
							.content-room
								= room.name
								%br
								%li
									= link_to "#modal-#{room.id}" , "data-toggle"=>"modal" do
										VER MÁS

					= render 'modal', room: room