#tripAdvisor
	.row{ style: " margin: 0; padding: 0; " }
		.col-lg-4.col-md-4.col-sm-4.col-xs-12.txt-tripAdvisor
			¡CUENTANOS TU EXPERIENCIA CON NOSOTROS!
			= link_to "" do
				Déjanos tu historia aquí
		.col-lg-4.col-md-4.col-sm-4.hidden-xs.pareja
			= image_tag 'frontend/Pareja.png', id: "pareja-ta"
		.col-lg-3.col-md-3.col-sm-3.col-xs-12.logo-tripAdvisor
			= image_tag 'frontend/Logo_TripAdvisor.png', id: "logo-ta"
