%section#restaurant
	.wilmored-carousel-big
		.item#item1
		.item#item2

	.wilmored-container
		= image_tag 'frontend/Logo_VillaMarina.png'
		.info-wilmored
			.txt-wilmored
				EXCELENTE COMIDA CON UNA GRAN VISTA

