= render 'layouts/frontend/nav_reservations'
#banner-form

#form-reservation
  .container-bamboo
    .container.contacto-container 

      = form_for @event do |f|
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .title-form
              DATOS PERSONALES
            .col-lg-6.col-md-6.col-sm-6.col-xs-12            
              .field
                = f.text_field :name, :placeholder=> "Nombre y Apellido (Requerido)"
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .field
                = f.text_field :ci, :placeholder=> "Cédula/RIF (Requerido)"
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .field
                = f.text_field :company, :placeholder=> "Nombre de la Empresa"
            .col-lg-6.col-md-6.col-sm-6.col-xs-12        
              .field
                = f.text_field :date, :placeholder=> "Fecha de la Solicitud", readonly: true, class: "datepicker"
            .col-lg-6.col-md-6.col-sm-6.col-xs-12            
              .field
                = f.text_field :email, :placeholder=> "Correo Electrónico"
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .field
                = f.text_field :telephone, :placeholder=> "Teléfono"          

          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .title-form
              DATOS DEL EVENTO
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              .field
                = f.text_field :event_type, :placeholder=> "Tipo de Evento"
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              .field
                = f.text_field :color_theme, :placeholder=> "Colores/Motivo"
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .field
                = f.text_field :quantity, :placeholder=> "Cantidad de Personas"
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
              .field
                = f.text_field :begin_date, :placeholder=> "Fecha de Inicio", readonly: true, class: "datepicker"
            .col-lg-3.col-md-3.col-sm-6.col-xs-12    
              .field
                = f.text_field :end_date, :placeholder=> "Fecha de Fin", readonly: true, class: "datepicker"
            .col-lg-3.col-md-3.col-sm-6.col-xs-12 
              .field                
                = f.time_select :begin_time, { :combined => true, prompt: "Hora de Inicio", :minute_interval => 30,:time_separator => "",:start_hour => 0,:start_minute => 0,:end_hour => 23, :end_minute => 0, ampm: true  }, { class: "select_time" }
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
              .field
                = f.time_select :end_time, { :combined => true, prompt: "Hora de Fin", :minute_interval => 30,:time_separator => "",:start_hour => 0,:start_minute => 0,:end_hour => 23, :end_minute => 0, ampm: true }, { class: "select_time" }
            %br.hidden-xs.hidden-md 
            %br.hidden-xs.hidden-md 
            %br.hidden-xs.hidden-md 
            %br.hidden-xs.hidden-md 
            %br.hidden-xs.hidden-md 

          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .title-form
              TIPO DE MONTAJE
            .btn-group{"data-toggle" => "buttons"}
              %center
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                  %label.btn.btn-montaje
                    %center
                      #image-montaje-1
                        = f.radio_button :assembly_type, "Auditorio: 63 pax"
                    %p Auditorio: 63 pax
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                  %label.btn.btn-montaje
                    %center
                      #image-montaje-2
                        = f.radio_button :assembly_type, "Reunion"
                    %p Reunión
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                  %label.btn.btn-montaje
                    %center
                      #image-montaje-3
                        = f.radio_button :assembly_type, "Tipo 'U': 28 pax"
                    %p Tipo 'U': 28 pax
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                  %label.btn.btn-montaje
                    %center
                      #image-montaje-4
                        = f.radio_button :assembly_type, "Banquete: 40 pax"
                    %p Banquete: 40 pax
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                  %label.btn.btn-montaje
                    %center
                      #image-montaje-5
                        = f.radio_button :assembly_type, "Escuela: 30 pax"
                    %p Escuela: 30 pax
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                  %label.btn.btn-montaje
                    %center
                      #image-montaje-6
                        = f.radio_button :assembly_type, "Coctel: 73 pax"
                    %p Coctel: 73 pax
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              .field
                = f.text_area :event_description, :placeholder=> "DESCRIPCIÓN DE EVENTO", style: "margin-bottom: 0;"
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .title-form
              ALIMENTOS & BEBIDAS:
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check          
                  = f.check_box :cold_snacks
                  %p 
                    %label Pasapalos Frios
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check                    
                  = f.check_box :hot_snacks
                  %p
                    %label Pasapalos Calientes
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :dish_menu
                  %p
                    %label Menú Plateado
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :theme_stations
                  %p
                    %label Estaciones Temáticas
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :buffet_type
                  %p
                    %label Tipo Buffet
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :morning_coffeebreak
                  %p
                    %label Coffee Break Matutino 
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :evening_coffeebreak
                  %p
                    %label Coffee Break Vespertino
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :cheese_table
                  %p
                    %label Mesa de Quesos
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :uncorking_coctels
                  %p
                    %label Descorche de Cocteles
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :uncorking_whisky
                  %p
                    %label Descorche de Whisky
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :uncorking_wine
                  %p
                    %label Des. Vino/Champagne
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :uncorking_vodka
                  %p
                    %label Des. Vodka/Ron
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :coctel_bar
                  %p
                    %label Barra Coctelera
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :sodas
                  %p
                    %label Refrescos
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .title-form
              DECORACIÓN DEL EVENTO:
            .row
              .col-lg-3.col-md-4.col-sm-4.col-xs-12
                .field
                  %label.btn.btn-check
                    = f.check_box :flower_arrengements
                    %p
                      %label Arreglos Florales
              .col-lg-3.col-md-4.col-sm-4.col-xs-12
                .field
                  %label.btn.btn-check
                    = f.check_box :baloons
                    %p
                      %label Globos
              .col-lg-3.col-md-4.col-sm-4.col-xs-12
                .field
                  %label.btn.btn-check
                    = f.check_box :toldo
                    %p
                      %label Toldo
              .col-lg-3.col-md-4.col-sm-6.col-xs-12
                .field
                  %label.btn.btn-check
                    = f.check_box :sound
                    %p
                      %label Sonido
              .col-lg-3.col-md-4.col-sm-6.col-xs-12
                .field
                  %label.btn.btn-check
                    = f.check_box :dj
                    %p
                      %label Dj
              .col-lg-3.col-md-4.col-sm-6.col-xs-12
                .field
                  %label.btn.btn-check
                    = f.check_box :musical_group
                    %p
                      %label Grupo Musical
              .col-lg-3.col-md-4.col-sm-6.col-xs-12
                .field
                  %label.btn.btn-check
                    = f.check_box :podium
                    %p
                      %label Podium
              .col-lg-3.col-md-4.col-sm-6.col-xs-12
                .field
                  %label.btn.btn-check
                    = f.check_box :videobeam
                    %p
                      %label Videobeam
              .col-lg-3.col-md-4.col-sm-6.col-xs-12
                .field
                  %label.btn.btn-check
                    = f.check_box :lights
                    %p
                      %label Iluminación
              .col-lg-3.col-md-4.col-sm-6.col-xs-12
                .field
                  %label.btn.btn-check
                    = f.check_box :inflatable
                    %p
                      %label Inflables
              .col-lg-3.col-md-4.col-sm-6.col-xs-12
                .field
                  %label.btn.btn-check
                    = f.check_box :magic_show
                    %p
                      %label Show de Magia
              .col-lg-3.col-md-4.col-sm-6.col-xs-12
                .field
                  %label.btn.btn-check
                    = f.check_box :dance_show
                    %p
                      %label Show de Baile
              .col-lg-3.col-md-4.col-sm-6.col-xs-12
                .field
                  %label.btn.btn-check
                    = f.check_box :crazy_hour
                    %p
                      %label Hora Loca
            %br 
            %br
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .field
                = f.text_area :other_services,  id: 'textarea-6', :placeholder=> "OTROS SERVICIOS"
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .field
                = f.text_area :observations,  id: 'textarea-6', :placeholder=> "OBSERVACIONES"
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              .actions
                = f.submit "ENVIAR", class: "btn btn-save", controller: "event", action: "create"