.order-reservation-show{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: white;
	
	.container{
		width: 90%;
	}

	th {
		padding: 8px;
		border: 1px solid #ddd;
		text-align: center;
		background: #eee;
		border-radius: 0;
	}

	td{
		padding: 8px;
		border: 1px solid #ddd;
		text-align: center;
	}
}

