#banner-form

#form-reservation
	= simple_form_for @reservation, url: reservas_path  do |f|
		.title-form
			DATOS PERSONALES 

		.row
			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				= f.input :name, label: false, placeholder: "NOMBRE Y APELLIDO"
			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				= f.input :documentation, label: false, placeholder: "CÉDULA DE IDENTIDAD O PASAPORTE"
			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				= f.input :email, label: false, placeholder: "CORREO ELECTRÓNICO"
			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				= f.input :telephone, label: false, placeholder: "NÚMERO DE TELÉFONO"

		.title-form
			DATOS DE RESERVACIÓN

		.row
			.col-lg-4.col-md-4.col-sm-12.col-xs-12
				.col-lg-12.col-md-12.col-sm-4.col-xs-4
					= f.input :adults, label: false, placeholder: "N° ADULTOS", input_html: { min: 0 }
				.col-lg-6.col-md-6.col-sm-4.col-xs-4
					= f.input :kids, label: false, placeholder: "N° NIÑOS", input_html: { min: 0 }
				.col-lg-6.col-md-6.col-sm-4.col-xs-4
					= f.input :babies, label: false, placeholder: "N° BEBES", input_html: { min: 0 }
			.col-lg-4.col-md-4.col-sm-12.col-xs-12
				.col-lg-12.col-md-12.col-sm-6.col-xs-6
					= f.input :checkin, label: false, placeholder: "CHECK-IN", as: :string, input_html: {class: "datepicker", id: "checkin" }
				.col-lg-12.col-md-12.col-sm-6.col-xs-6
					= f.input :checkout, label: false, placeholder: "CHECK-OUT", as: :string, input_html: {class: "datepicker", id: "checkout"}
			.col-lg-4.col-md-4.col-sm-12.col-xs-12
				= f.input :origin, label: false, placeholder: "PROCEDENCIA"
				= f.input :motive, label: false, placeholder: "MOTIVO"
		
		.title-form
			TIPO DE HABITACIÓN 

		.row{style: ""}
			- Room.all.each_with_index do |room, i|
				.room-checks.col-lg-2.col-md-2.col-sm-2.col-xs-2
					= f.simple_fields_for :orders, @reservation.orders.build do |r|
						%a.btn.btn-room{onclick: "quantity(#{room.id})"}
							#image-room{class: "check-#{room.name}", style: "background-image: url(#{room.images.first.img});"}
								= r.input :room_id, label: false, :collection => [[room.name, room.id]], :as => :check_boxes, include_hidden: false, input_html: { name: "reservation[orders_attributes][#{i}][room_id]"}  
							.image-room-mask{id: "mask-#{room.id}"}
								%p
									= room.name.upcase
						.quantity{id: "id-#{room.id}"}
							= r.input :quantity, label:false, placeholder: "Cantidad"
						.room-price{id: "price-#{room.id}"}
							= room.price
							Bs
		.row
			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				.box-form
					.title-box
						METODOS DE PAGO
					.content-box
						= f.input :payment, as: :select, include_blank: false, collection: [["TIPO DE PAGO", "0"], ["TARJETA DE CRÉDITO","1"], ["DEPOSITO Y/O TRANSFERENCIA", "2"], ["EFECTIVO","3"]], label: false
			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				.box-form
					.title-box
						TOTAL DE RESERVA
					.content-box#total
						%table
							%tbody
								%tr
									%td
										Número de habitaciones: 
									%td#num-rooms
										0
								%tr
									%td
										Precio total (Por noche): 
									%td#price-night
										0 Bs
								%tr
									%td
										Total a pagar: 
									%td#price-total
										0 Bs
		.row
			.col-lg-12
				= f.input :observations, label: false, placeholder: "OBSERVACIONES"
		.form-actions
			= f.button :submit, "Guardar", class: "btn btn-save", id: "btn-submit" , style: "width: auto;", controller: "reservation", action: "create"

:javascript
	$('#btn-submit').click(function(){
		setTimeout("$('#btn-submit').prop('disabled', 'disabled')", 10);
	});