%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'Posada Villa Marina Beach Resort - En Paraguana'
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'En Villa Marina de la Peninsula de Paraguana, a 20KM de Punto Fijo, tu posada de vacaciones y la mejor gastronomiad del mar en wilmored.'}"}
	%script{src:"https://maps.googleapis.com/maps/api/js?sensor=false"}
    
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	%link{:href => "http://fonts.googleapis.com/css?family=Oxygen:400,700", :rel => "stylesheet", :type => "text/css"}/
	
	= render 'layouts/frontend/google_analytics'
	= favicon_link_tag "frontend/Pirata_Blanco.png"
	= csrf_meta_tags
