-# navigation styled for Bootstrap 3.0
- if controller.action_name == "index"
	%nav.navbar.navbar-default.navbar-static#front-navbar
		.container{style: "padding: 0px; "}
			.navbar-header
				%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
					= image_tag "frontend/Pirata_Color.png"
			.collapse.navbar-collapse
				%ul.nav.navbar-nav
					%li.links{ onclick: "scrollToAnchor('about')", id: "link-about" }
						%a LA POSADA
					%li.links{ onclick: "scrollToAnchor('rooms')", id: "link-rooms" }
						%a HABITACIONES
					%li.logo-nav.hidden-xs{ onclick: "scrollToAnchor('home')", id: "link-home" }
						%a
							= image_tag 'frontend/Pirata_Color.png',id: "img-home"
					%li.links.hidden-lg.hidden-md.hidden-sm{ onclick: "scrollToAnchor('home')", id: "link-home" }
						%a HOME
					%li.links{ onclick: "scrollToAnchor('restaurant')", id: "link-wilmored" }
						%a RESTAURANTE
					%li.links{ onclick: "scrollToAnchor('contacts')", id: "link-contacts" }
						%a CONTACTOS
- else
	= render 'layouts/frontend/nav_reservations'