%nav.navbar.navbar-default.navbar-fixed-top#front-navbar
	.container{style: "padding: 0px; "}
		.navbar-header
			%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
				= image_tag "frontend/Pirata_Color.png"
		.collapse.navbar-collapse
			%ul.nav.navbar-nav
				%li.links
					= link_to "LA POSADA", root_path(anchor: "about"), class: "external"
				%li.links
					= link_to "HABITACIONES", root_path(anchor: "rooms"), class: "external"
				%li.logo-nav.hidden-xs
					= link_to root_path(anchor: "home"), class: "external" do
						= image_tag 'frontend/Pirata_Color.png',id: "img-home"
				%li.links.hidden-lg.hidden-md.hidden-sm
					= link_to "HOME", root_path(anchor: "home"), class: "external"
				%li.links
					= link_to "RESTAURANTE", root_path(anchor: "restaurant"), class: "external"
				%li.links
					= link_to "CONTACTOS", root_path(anchor: "contacts"), class: "external"
