.wrapper
	.wrapper-body.container
		.actions
			= link_to rooms_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")

		.wrapper-inputs
			.card
				= simple_form_for @room do |f|
					.row
						= f.input :name
						= f.input :price
						= f.input :description, input_html: {class: "materialize-textarea"}
					.row
						= f.simple_fields_for :images do |c|
							= render 'image_fields', :f => c
							
						.form-actions.right
							= link_to_add_association 'Añadir imagen', f, :images, class: "waves-effect waves-dark btn-flat", style: "margin-bottom:10px;"
							= f.button :submit, "Guardar", class: "btn"