.nested-fields.col.s4
	- unless f.object.img.to_s == ""
		= image_tag f.object.img, style: "width: 100%"
	
	= link_to_remove_association f do
		= material_icon.md_24.close.css_class('md-dark')

	= f.input :img, :as => :file, label: false, wrapper: :mf_11, class: "upload_file"