= title "Rooms | #{@room.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Room
				= link_to room_path(@room), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, Room
				= link_to edit_room_path(@room), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to rooms_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card#show-room	
			- if @room.images.any?
				.card-image
					.slider
						%ul.slides
							- @room.images.each do |item|
								%li
									= image_tag item.img
			
			.card-content		
				%ul.list
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.id")
						.display-value.fs-body-1.tc-black-2= @room.id.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.name")
						.display-value.fs-body-1.tc-black-2= @room.name.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.price")
						.display-value.fs-body-1.tc-black-2= @room.price.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.description")
						.display-value.fs-body-1.tc-black-2= @room.description.to_s.humanize


:javascript	
	$(document).ready(function(){
		$('.slider').slider();
	});