!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %title Document
  %body
    %div{style: "font-family: \"Open Sans\", sans-serif;"}
      %div{style: "background:rgb(85, 196, 234);padding:10px;font-family: 'Open Sans', sans-serif;"}
        %h1{style: "color:white;text-align:center;"} Posada Villa Marina Beach Resort
      %div{style: "background:#e7e7e7;padding:5px;padding-left:10px;"}
        %h2{style: "color:rgb(85, 196, 234);"} Registro de Eventos
      %div
        %table{border: "1", style: "width:100%;border:1px solid black;border-collapse:collapse;"}
          %tr{style: "background:#E6E6E6;"}
            %th Nombre
            %th Cedula/rif
            %th Empresa
            %th Fecha de Solicitud
            %th Email
            %th Telefono
          %tr
            %td= @evento.name
            %td= @evento.ci
            %td= @evento.company
            %td= @evento.date
            %td= @evento.email
            %td= @evento.telephone
          %tr{style: "background:#E6E6E6;"}
            %th{colspan: "3"} Tipo de Evento
            %th{colspan: "3"} Colores/motivo
          %tr
            %td{colspan: "3"}= @evento.event_type
            %td{colspan: "3"}= @evento.color_theme
          %tr{style: "background:#E6E6E6;"}
            %th N° de Invitados
            %th Fecha de Inicio
            %th Fecha de Culminación
            %th Hora de Inicio
            %th Hora de Culminación
            %th Tipo de Montaje
          %tr
            %td
              = @evento.quantity
              Personas
            %td= @evento.begin_date
            %td= @evento.end_date
            %td= @evento.begin_time
            %td= @evento.end_time
            %td= @evento.assembly_type
          %tr{style: "background:#E6E6E6;"}
            %th{colspan: "6"} Descripción del Evento
          %tr
            %td{colspan: "6"}= @evento.blank(@evento.event_description)
          %tr{style: "background:#E6E6E6;"}
            %th{colspan: "6"} Alimentos & Bebidas
          %tr{style: "background:#E6E6E6;"}
            %th Pasapalos Frios
            %th Pasapalos Caliente
            %th Menú Plateado
            %th Estaciones Termaticas
            %th Tipo Buffet
            %th Coffee Break Matutino
          %tr
            %td
              %center= @evento.chosen(@evento.cold_snacks)
            %td
              %center= @evento.chosen(@evento.hot_snacks)
            %td
              %center= @evento.chosen(@evento.dish_menu)
            %td
              %center= @evento.chosen(@evento.theme_stations)
            %td
              %center= @evento.chosen(@evento.buffet_type)
            %td
              %center= @evento.chosen(@evento.morning_coffeebreak)
          %tr{style: "background:#E6E6E6;"}
            %th Coffee Break Vespertino
            %th Mesa de Quesos
            %th Descorche de Cocteles
            %th Descorche de Whisky
            %th Descorche de Vino/Champagne
            %th Descorche de Vodka/Ron
          %tr
            %td
              %center= @evento.chosen(@evento.evening_coffeebreak)
            %td
              %center= @evento.chosen(@evento.cheese_table)
            %td
              %center= @evento.chosen(@evento.uncorking_coctels)
            %td
              %center= @evento.chosen(@evento.uncorking_whisky)
            %td
              %center= @evento.chosen(@evento.uncorking_wine)
            %td
              %center= @evento.chosen(@evento.uncorking_vodka)
          %tr{style: "background:#E6E6E6;"}
            %th Barra Coctelera
            %th Refrescos
            %th{colspan: "4", rowspan: "2", style: "background:#ffffff;"}
          %tr
            %td
              %center= @evento.chosen(@evento.coctel_bar)
            %td
              %center= @evento.chosen(@evento.sodas)
          %tr{style: "background:#E6E6E6;"}
            %th{colspan: "6"} Descoración del Evento
          %tr{style: "background:#E6E6E6;"}
            %th Arreglos Florales
            %th Globos
            %th Toldo
            %th Sonido
            %th Dj
            %th Grupo Musical
          %tr
            %td
              %center= @evento.chosen(@evento.flower_arrengements)
            %td
              %center= @evento.chosen(@evento.baloons)
            %td
              %center= @evento.chosen(@evento.toldo)
            %td
              %center= @evento.chosen(@evento.sound)
            %td
              %center= @evento.chosen(@evento.dj)
            %td
              %center= @evento.chosen(@evento.musical_group)
          %tr{style: "background:#E6E6E6;"}
            %th Podium
            %th Videobeam
            %th Iluminación
            %th Inflables
            %th Show de Magia
            %th Show de Baile
          %tr
            %td
              %center= @evento.chosen(@evento.podium)
            %td
              %center= @evento.chosen(@evento.videobeam)
            %td
              %center= @evento.chosen(@evento.lights)
            %td
              %center= @evento.chosen(@evento.inflatable)
            %td
              %center= @evento.chosen(@evento.magic_show)
            %td
              %center= @evento.chosen(@evento.dance_show)
          %tr{style: "background:#E6E6E6;"}
            %th Hora Loca
            %th{colspan: "5", rowspan: "2", style: "background:#ffffff;"}
          %tr
            %td
              %center= @evento.chosen(@evento.crazy_hour)
          %tr{style: "background:#E6E6E6;"}
            %th{colspan: "6"} Otros Servicios
          %tr
            %td{colspan: "6", style: "text-align: center;"}= @evento.blank(@evento.other_services)
          %tr{style: "background:#E6E6E6;"}
            %th{colspan: "6"} Observaciones Adicionales
          %tr
            %td{colspan: "6", style: "text-align: center;"}= @evento.blank(@evento.observations)