#about{
	width: 100%;
	background: image-url("frontend/About.jpg") no-repeat;	
	background-size: cover;
	height: auto;

	.text-about{
		padding-top: 100px;
		color: white;
		width: 56%;
		margin-left: 22%;

		@media #{$tablet-portrait}{
			width: 90%;
			margin-left: 5%;			
		}
		@media #{$phone}{
			width: 90%;
			margin-left: 5%;
		}
		@media #{$phone-landscape}{
			width: 86%;			
			margin-left: 7%; 
		}

		#title-about{
			font-family: 'Oxygen', sans-serif;
			margin-top: 30px;
			font-size: 35px;
			text-align: center;
			font-weight: bold;
		}

		#content-about{
			padding-top: 30px;
			font-size: 16px;
			text-align: left;
			font-weight: bold;
			@media #{$phone}{
				text-align: left;
				width: 90%;
				margin-left: 5%;
			}

		}
	}
	.info{
		display: flex;
		justify-content: center;

		.info-hours{
			display: flex;
			margin-top: 50px;
			margin-bottom: 100px;
			color: rgb(85, 196, 234);
			background-color: transparent;
			border: 9px solid white;
			padding: 10px;

			@media #{$phone}{
				margin-top: 8%;
			}
			@media #{$phone-landscape}{
				margin-top: 5%;
			}

			.check-in{
				display: inline-block;
				margin-right: 0px;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-left: 20px;
				text-align: center;
				background-color: white;
				border: none;
			}

			.check-out{
				display: inline-block;
				padding-left: 50px;
				padding-right: 20px;
				padding-top: 15px;
				padding-bottom: 15px;
				text-align: center;
				background-color: white;
				border: none;
				margin-left: -2px;
			}

			span{
				font-weight: bold;
			}
		}
		
	}	
}

.reservation-box {
  background: transparent;
  padding: 10px;
  position: relative;
  width: 70%;
  margin-left: 15%;

  @media #{$tablet}{
    width: 90%;
    margin-left: 5%;
  }
  @media #{$tablet-portrait}{
    width: 100%;
    margin-left: 0;
  }
  @media #{$phone}{
    width: 100%;
    margin: 0;
  }
  @media #{$phone-landscape}{
    width: 90%;
    margin-left: 5%;
  }

}
.input-about {
  margin: 0;
  background: silver;
  padding-right: 5px;
  padding-left: 5px;
  width: 100%;
  color: black;
  border: 10px solid white;
}
.btn-reservation, .btn-reservation:hover {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  width: 100%;
  border: none;
  background: #49B31D;
  color: white;
  padding: 13px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  margin-left: 10px;
  @media #{$phone}{
		margin-top: 10px;
		margin-left: 0;
	}
	@media #{$phone-landscape}{
		margin-top: 10px;
		margin-left: 0;
	}
}
.input-about i {
  display: inline;
  color: black;
}
.input-about input {
  padding: 3px;
  border: none;
  width: 80%;
  background-color: silver;
}
.input-about input::-webkit-input-placeholder{
	color: black;
}

#events{
	width: 100%;
	background: image-url("frontend/banner_eventos.jpg") no-repeat;	
	background-size: cover;
	height: 600px;
	.event-horizontal{
		display: flex;
		justify-content: center;
		height: 100%;
		.event-vertical{
			display: flex;
			flex-direction: column;
			justify-content: center;
			.container{
				height: 470px;
				width: 40%;
				margin-left: 30%;
				padding: 0;
				border: 12px solid rgba(255,255,255,0.5);

				@media #{$phone}{
					width: 90%;
					margin-left: 5%;
				}
				@media #{$phone-landscape}{
					width: 90%;
					margin-left: 5%;
					height: 400px;
				}
				@media #{$tablet}{
					width: 70%;
					margin-left: 15%;
					height: 400px;
				}
				@media #{$tablet-portrait}{
					width: 70%;
					margin-left: 15%;
					height: 400px;
				}

				.cont-eventos{
					padding-top: 70px;
					padding-bottom: 70px;
					padding-left: 50px;
					padding-right: 50px;
					width: 100%;
					height: 100%;
					text-align: center;	
					background: white;

					@media #{$phone}{
						padding: 10px;
						padding-top: 50px;
					}
					@media #{$phone-landscape}{
						padding: 50px;
					}
					@media #{$tablet}{
						padding: 50px;
					}
					@media #{$tablet-portrait}{
						padding: 50px;
					}

					.title-events{
						color: rgb(40, 190, 245);
						font-size: 25px;
						font-weight: 700;
						padding-bottom: 30px;
						@media #{$phone}{
							font-size: 20px;
						}
						@media #{$phone-landscape}{
							font-size: 20px;
						}
						@media #{$tablet}{
							font-size: 23px;
						}
						@media #{$tablet-portrait}{
							font-size: 23px;
						}
					}
						 
					.content-events{
						font-size: 15px;
						color: black;
					}

					.info-event{
						display: flex;
						justify-content: center;
						padding-top: 50px;
						position: relative;

						a{
							padding: 20px;
							font-weight: 700;
							font-size: 17px;
							background: rgb(85, 196, 234);
							text-align: center;
							color: white;
							text-decoration: none;
						}

						@media #{$phone}{

						}
						@media #{$phone-landscape}{

						}
						@media #{$tablet}{
							width: 120%;
							margin-left: -10%;
						}
					}
				}
			}
		}
	}
}
