#contacts{
	@media #{$desktop-large}{
		margin-top: 0px;
	}
}
.separator-map{
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	padding-left: 30px;
	border: 5px solid rgb(85, 196, 234);
	@media #{$phone}{
		padding-right: 0;
		padding-left: 0;
	}
	.txt-separator{
		color: black;
		@media #{$phone}{
			font-size: 16px;
		}
	}
}
.title-separator{
	color: rgb(85, 196, 234);
	font-weight: bold;
}
.separator-contacts{
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 100px;
	padding-left: 100px;
	border: 5px solid rgb(85, 196, 234);
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 1;
	@media #{$phone}{
		padding-right: 50px;
		padding-left: 50px;
	}
}
.cont-contacts{
	background: image-url('frontend/Contacts.jpg') no-repeat;
	background-size: cover;
	height: 330px;
	width: 100%;
	position: relative;
}

#contact{
	margin-top: 50px;
	width: 80%;
	margin-left: 10%;
	color: white;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	@media #{$phone}{
		width: 96%;
		margin-left: 2%;
		font-size: 14px;
	}
	@media #{$phone-landscape}{
		width: 96%;
		margin-left: 2%;
		font-size: 14px;
	}
	span{
		padding-left: 5px;
		font-weight: normal;
	}
	.socials{
		margin: 0;
		font-size: 40px;
		border-radius: 50%;
		color: white;
		width: 70px;
		height: 70px;
		padding: 15px;
		@media #{$phone}{
			width: 50px;
			height: 50px;
			padding: 10px;
			font-size: 30px;
		}
		@media #{$tablet-portrait}{
			width: 50px;
			height: 50px;
			padding: 10px;
			font-size: 30px;
		}
	}
	#instagram{
		background-color: rgb(82, 126, 163);
	}
	#twitter{
		background-color: rgb(46, 170, 224);
	}
	#facebook{
		background-color: rgb(60, 91, 155);
	}
	#tripadvisor{
		background-color: rgb(97, 160, 73);
		padding:5px;
		width: 70px;
		max-width: 150%;
		@media #{$phone}{
			width: 50px;
		}
	}

}
#map{
	width: 100%;
	height: 300px;
}
.icons{
	@media #{$phone}{
		position: absolute;
		top: 220px;
		left: 0;
	}
	@media #{$phone-landscape}{
		position: absolute;
		top: 220px;
		left: 0;
	}
}
.numbers{
	@media #{$phone}{
		position: absolute;
		top: 130px;
		left: 0;
	}
	@media #{$phone-landscape}{
		position: absolute;
		top: 130px;
		left: 0;
	}
}