.footer{

	.rights{
		background-color: rgb(85, 196, 234);
		height: 50px;
		color: white;
		font-size: 16px;
		padding-top: 15px;
		text-align: center;
		@media #{$phone}{
			height: 70px;
		}
	}
	.slice{
		height: 60px;
		color: black;
		font-size: 14px;
		text-align: center;
		padding-top: 10px;
		img{
			padding-left: 7px;
			width: 80px;
			display: inline-block;
		}
	}
}
