#banner-form{
  margin-top: 80px;
  background: image-url('frontend/Banner.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 300px;
}

#form-reservation{
  width: 70%;
  margin-left: 15%;
  margin-bottom: 50px;

  @media #{$tablet}{
    width: 90%;
    margin-left: 5%;
  }
  @media #{$tablet-portrait}{
    width: 90%;
    margin-left: 5%;
  }
  @media #{$phone}{
    width: 90%;
    margin-left: 5%;
  }
  @media #{$phone-landscape}{
    width: 90%;
    margin-left: 5%;
  }

  input {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    border: 13px solid #e7e7e7;
    border-radius: 0;
  }
  input::-webkit-input-placeholder{
    color: lightgrey;
  }
  textarea{
    padding: 10px;
    background-color: #e7e7e7;
    color: black;
    width: 100%;
    border: none;
    margin-bottom: 30px;
  }
  #textarea-6{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    height: 100px;
  }
  textarea::-webkit-input-placeholder{
    color: black;
  }

  .select_time{
    border: 14px solid #e7e7e7;
    background: white;
    width: 100%;
    padding: 10px;
  }

  .select{
    border: none;
    background: #e7e7e7;
    width: 100%;
    padding: 10px;
  }
  .btn-save{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    border: none;
    background: #49B31D;
    color: white;
    padding: 13px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
  }
  .row{
    margin: 0;
    padding: 0;
  }

  @for $i from 1 through 12 {
    .col-lg-#{$i}, .col-md-#{$i}, .col-sm-#{$i}, .col-xs-#{$i} { 
      margin: 0;
      padding: 0;
    }
  }
}

.title-form{
  font-size: 25px;
  font-weight: bold;
  color: rgb(104, 196, 234);
  text-align: left;
  padding-top: 30px;
  margin-bottom: 30px;
}
.box-form{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px;
  margin-top: 50px;
}
.title-box{
  background-color: rgb(104, 196, 234);
  padding: 10px;
  font-weight: bold;
}
.content-box{
  background-color: #e7e7e7;
}
#total{
  padding: 20px;
  td{
    width: 50% !important;
  }
}

.room-checks{
  height: auto;
  background-color: transparent !important;
}
.form-actions{
  text-align: center;
}

#image-room{ 
  height: 212px;
  background-size: cover;
  height: 170px;
  width: 100%;
  position: relative;
  top: -9px;
  z-index: 9;
  label{
    display: none;
  }
  input[type=checkbox]{
    display: block;
  }
}
.btn-room{
  border-radius: 0px;
  padding: 0px;
  width: 100%;
  height: 150px;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: $font-type;
  font-size: 18px;
  font-weight: 400;
  border: none !important;
  .image-room-mask{  
    background: rgba(0, 0, 0, 0.5);
    height: 170px;
    width: 100%;
    position: relative;
    top: -179px;
    padding-top: 79px;
    z-index: 9;
    p{
      font-size: 14px;
      font-weight: bold;
    }
  }
  .blue{
    background: rgba(33, 175, 208, 0.5);  
  }
}
.quantity{
  input{
    position: relative;
    top: -10px;
    opacity: 0;
    border: none !important;
    background: rgb(33, 175, 208) !important;
    width: 100%;
    padding: 10px;
  }
}
.room-price{
  width: 100%;
  padding: 10px;
  background-color: #e7e7e7;
  color: black;
  text-align: center;
  position: relative;
  top: -30px;
}

#num-rooms, #price-night, #price-total{
  text-align: right;
  font-weight: bold;
}

input[type=radio] {
  display:none;
}

input[type=checkbox] {
  float: left;
  margin-top: 13px;
  width: auto !important;
}

.btn-check, .btn-montaje{
  border-radius: 0px;
  padding: 6px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  background: #e7e7e7;

  p {
    padding-top: 10px;
    margin-bottom: 0px;
    color: black;
    font-family: 'Open Sans', sans-serif;
  }
}
.btn-montaje{
  max-width: 300px;
}

.active {
  background: rgb(85, 196, 234);
}

.btn-group {
  width: 100%;
}

#image-montaje-1 {
  background: image-url("frontend/icons/montaje-01.png") center no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  min-height: 70px;
  max-width: 70px;
}

#image-montaje-2 {
  background: image-url("frontend/icons/montaje-02.png") center no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  min-height: 70px;
  max-width: 70px;
}
#image-montaje-3 {
  background: image-url("frontend/icons/montaje-03.png") center no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  min-height: 70px;
  max-width: 70px;
}
#image-montaje-4 {
  background: image-url("frontend/icons/montaje-04.png") center no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  min-height: 70px;
  max-width: 70px;
}
#image-montaje-5 {
  background: image-url("frontend/icons/montaje-05.png") center no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  min-height: 70px;
  max-width: 70px;
}
#image-montaje-6 {
  background: image-url("frontend/icons/montaje-06.png") center no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  min-height: 70px;
  max-width: 70px;
}