#home{
	background: image-url("frontend/Home.jpg") no-repeat;	
	background-size: cover;
	height: 100%;
	}

#logo{
	margin-top: -100px;
}
.text-home{	
	background: rgb(252, 201, 0);
	padding:{
		top: 10px;
		bottom: 10px;
		left: 127px;
		right: 127px;
	}
	@media #{$phone}{
		padding-left: 30px;
		padding-right: 30px;
	}
	@include transform (skew(-40deg));
	#txt-home{
		color: rgb(255, 255, 255);
		font-size: 18px;
		text-align: center;
		font-weight: bold;
		@include transform (skew(40deg));
		@media #{$phone}{
			font-size: 14px;
		}
	}
}

.alert{
	position: absolute;
	top: 5%;
	right: 3%;
	.close{
		right: -35px;
		top: 10px;
		font-size: 40px;
	}
}
.alert-success {
	background-color: #CCF7BA;
	border-color: #B8DDA8;
	color: #059608;
}