.background-modal{
	margin: 0;
	height: 80%;
	width:	80%;
	margin-left: 10%;
	margin-top: 5%;
	background: image-url('frontend/Fondo_Landing.jpg') no-repeat;
	background-size: cover;
	position: relative;
	@media #{$phone-landscape}{
		height: 90%
	}
	@media #{$phone}{
		height: 90%;
	}
}
.modal-dialog{
	margin: 0;
	height: 100%;
	width:	100%;
	background-color: rgba(255, 255, 255, 0.3);
	position: absolute;
	z-index: 1000;
	.modal-content{
		background: none;
		width: 82%;
		margin-left: 9%;
		padding-top: 5%;
		color: black;
		box-shadow: none;
		border: none;
		display: flex;
		padding-top: 10%;
		@media #{$phone-landscape}{
			padding-top: 8%;
			display: block;
		}
		@media #{$tablet}{
			padding-top: 15%;
			display: block;
		}
		@media #{$phone}{
			display: block;
			padding-top: 20%;
		}
		@media #{$desktop-large}{
			padding-top: 20%;
		}
		.gallery-modal{
			width: 50%;
			margin: 0;
			padding: 0;
			border: none;
			@media #{$phone-landscape}{
				width: 100%;
			}
			@media #{$phone}{
				width: 100%;
			}
			.img-gallery{
				border: none;
				img{
					border: 17px solid rgba(255, 255, 255, 0.5);
					max-height: 350px !important;
					@media #{$phone}{
						border: 10px solid rgba(255, 255, 255, 0.5);
						max-height: 150px !important;
					}
					@media #{$phone-landscape}{
						max-height: 100px !important;
					}
					@media #{$tablet}{
						max-height: 100px !important;
					}
					@media #{$desktop-large}{
						max-height: 400px !important;
					}
				}
			}
		}
		.info{
			width: 50%;
			padding-left: 8%;
			padding-right: 8%;
			@media #{$phone-landscape}{
				padding: 0;
				width: 100%;
			}
			@media #{$phone}{
				width: 100%;
			}

			.modal-title{
				font-size: 18px;
				color: #0e77b3;
				font-weight: bold;
			}
			.modal-description{
				font-size: 14px;
			}
			hr{
				color: white;
			}
			span{
				color: #0e77b3;
				font-weight: bold;
			}
			a{
				margin-top: 25px;
				display: inline-block;
				border: none;
				font-size: 18px;
				padding: 10px;
				background-color: #49B31D;
				text-decoration: none;
				color: white;
				@media #{$phone-landscape}{
					margin-top: 10px;
				}
			}
		}
	}
}
.close{
	font-size: 50px;
	font-weight: normal;
	position: absolute;
	top: 15px;
	right: -70px;
	@media #{$phone-landscape}{
		top: 0px;
		right: -30px;
	}
	@media #{$tablet}{
		right: -25px;
	}
	@media #{$phone}{
		top: 0;
		right: -20px;
	}
}
.slick-next{
	z-index: 1;
}
.slick-prev, .slick-next {
	top: 40%;
}

@media #{$phone-landscape}{}