.navbar-static{
  position: absolute;
  bottom: 0;
  background-color: rgba(85, 196, 234, 0.8);
}
.navbar-fixed-top{
  background-color: rgb(85, 196, 234);
}
.navbar-default{
  width: 100%;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0px;
  border-radius: 0px;
  border: none;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
  height: 80px;

  a{
    color:white;
  }
  .brand-logo{
    font-family: 'Patua One', cursive;
    position: relative;
    left: 10px;
    font-size: 30px;
    color: #ffffff
  }
  .container{
    display: flex;
    justify-content: center;
    
    .links{
      cursor: pointer;
      a{
        color: white;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .logo-nav{
      cursor: pointer;
      a{
        padding: 20px;
        height: 80px;
      }
    }
  }
  .navbar-header{
    position: absolute;
    left: 35px;
    top: 15px;
    z-index: 1000;
  }

  .current{
    background-color: white;
    a{
      color: rgb(85, 196, 234) !important;
    }
  }
  li:hover{
    background-color: white;
    a{
      color: rgb(85, 196, 234) !important;
    }
  }

}
.navbar-collapse{
  @media #{$phone}{
    background-color: rgba(85, 196, 234, 0.8);
    width: 100%;
  }
}
.navbar-collapse[aria-expanded="true"]{
  position: relative;
  top: 80px;
  border: none;
}
.container{
  width: 100%;
  text-align: center;
}
.navbar-toggle{
  margin-top: -3px;
}