.separator-rooms{
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 50px;
	padding-left: 50px;
	border: 5px solid rgb(255, 214, 47);
	@media #{$phone}{
		padding-right: 10px;
		padding-left: 10px;
	}
}
.gallery{
	margin: 0;
	padding: 0;

	.content-room{
		color: white;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		position: relative; 
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		margin-top: -50px;
		li{
			width: 100%;
			background: transparent;
			display: inline;
			margin-top: 15px;
		}
		a{
			margin-left: -50px;
			color: white;
			position: absolute;
			text-decoration: none;
			padding: 7px;
			background-color: rgba(255, 214, 47, 0.8);
		}
		@media #{$desktop-large}{
			padding-top: 230px;
		}
	}

	.mask-rooms{
		display: flex;
		justify-content: center;
		height: 250px;
		width: 100%;
		background: rgba(84, 84, 84, 0.5);
		visibility:hidden;
		opacity:0;
		transition:opacity 0.5s linear;
		@media #{$phone}{
			visibility:visible;
			opacity: 1;
		}
		@media #{$desktop-large}{
			height: 500px;
		}

	}

	.col-room{
		position: relative;
		margin: 0;
		padding: 0;
		height: 250px;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		@media #{$desktop-large}{
			height: 500px;
		}
	}
	
	@for $i from 1 through 6 {
		#col-room-#{$i}:hover { 
			#room-#{$i}{
				visibility:visible;
				opacity: 1;
			}
		}
	}
}