#tripAdvisor{
	background: image-url('frontend/BannerTripAdvisor.jpg') no-repeat;
	background-size: cover;
	height: 300px;
	background-position-x: 50%;
	@media #{$phone}{
		background-position-x: 0;
	}
	@media #{$desktop-large}{
		background-position: 50% 50%;
	}
}
.pareja{
	height: 300px;
	padding-top: 35px;
	@media #{$phone}{
		height: 150px;
	}
	@media #{$phone-landscape}{

	}
	@media #{$tablet}{
		
	}
}
.logo-tripAdvisor{
	height: 300px;

	@media #{$phone}{
		height: 150px;
	}
	@media #{$phone-landscape}{
		height: 150px;
	}
	@media #{$tablet}{

	}
 	
	#logo-ta{
		top: 130px;
		position: absolute;
		
		@media #{$phone}{
			top: 50px;
			left: 17%;
			width: 65%;
		}
		@media #{$phone-landscape}{
			top: 50px;
			left: 25%;
		}
		@media #{$tablet}{
		}
		@media #{$desktop-large}{
			top: 130px;
		}
	}
}
.txt-tripAdvisor{
	@media #{$phone}{
		height: 150px;
	}
	@media #{$phone-landscape}{
		height: 150px;
	}
	@media #{$tablet}{
		
	}
	height: 300px;
	font-size: 20px;
	color: rgb(25, 157, 216);
	text-align: center;
	padding-top: 80px;
	a{
		display: block;
		background-color: rgb(25, 157, 216);
		padding: 15px;
		font-size: 17px;
		margin-top: 10px;
		color: white;
		text-decoration: none;
		@media #{$phone}{
			padding: 10px;
			font-size: 15px;
			display: block;
			width: 100%;
		}
	}

	@media #{$phone}{
		font-size: 18px;
		padding-top: 50px;
	}
	@media #{$phone-landscape}{
		font-size: 18px;
		padding-top: 50px;
	}
	@media #{$tablet}{
		padding-top: 50px;
	}
	@media #{$desktop-large}{
		padding-top: 100px;
	}
}