#restaurant{
	height: 600px;
	position: relative;

	.wilmored-container{
		position: absolute;
		z-index: 1000;
		width: 27%;
		left: 20%;
		top: 0;
		text-align: center;
		@media #{$phone}{
			width: 80%;
			left: 10%;
		}

		@media #{$phone-landscape}{
			width: 60%;
			left: 5%;
		}

		img{
			margin-top: 130px;
			margin-bottom: 30px;
		}

		.info-wilmored{
			padding: 10px;
			background-color: transparent;
			border: 7px solid rgb(109, 196, 232);
			.txt-wilmored{
				padding: 10px;
				background-color: white;
				text-decoration: none;
				color: black;
			}
		}
	}
}

.wilmored-carousel-big{
	.item{
		height: 600px;
		width: 100%;
	}
	#item1{
		background: image-url('frontend/Fondo_BannerWilmored.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	#item2{
		background: image-url('frontend/FondoWilmored2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

}